.title {
  padding: 0 10px;
}

md-tab-group {
  background-color: #EEF;
  p {
    padding: 0 10px;
  }
}

form {
  padding: 10px;
}

md-select {
  display: block;
  padding: 5px 0;
}
